@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap');






body {
    margin: 0;
    padding: 0;
    font-family: 'Quicksand', sans-serif;
    background-color: #f2f2f2;
    text-align: center;
    height: 800vh;

}

#navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    background-color: rgb(34, 154, 191);
    align-items: center;
    /* align-content: space-evenly; */
    height: 111px;
    position: fixed;
    width: 100%;
}

#icon {
    border-radius: 150px;
    margin-left: 1%;
}


#navbar li {
    flex-grow: 1;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    color: #f2f2f2;
    font-size: 17px;
}

#navbar li:not(:last-child) {
    margin-right: 10px;
}

#navbar li a:hover {
    color: #0505058e;
}

a {
    text-decoration: none;
    color: #ffffff;
}

#top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(217, 217, 217);
    padding: 10px;
    font-size: larger;
    padding-top: 120px;
}

#mid {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    font-size: larger;
}

.divinmid {
    justify-content: space-between;
    align-items: center;
    font-size: larger;
    text-align: center;
}

footer img {
    width: 50px;
    height: 50px;
    margin: 10px;
}